@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.user-detail {
    display: flex;
}

.user-detail ul {
    list-style-type: none;
    margin: 0 0 0 0rem;
    padding: 0;
}

.user-detail ul li {
    float: left;
    margin: 0 0 0 1rem;
    padding: 0;
    line-height: 0.9;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container main {
    width: 100%;
    max-width: 1200px;
    margin: 0 2rem;
}

body {
    padding: 0;
    margin: 0;
}

.top-bar {
    background-color: #def;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccf;
    margin-bottom: 1rem;
}

.top-bar .logo {
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.top-bar .logo a {
    text-decoration: none;
}

.top-bar .options {
    display: flex;
    gap: 3rem;
}
.top-bar nav {
    list-style-type: none;
    margin: 0 0 0 2rem;
    padding: 0;
}

.top-bar nav li {
    float: left;
    margin: 0 0 0 2rem;
    padding: 0;
    line-height: 0.9;
}

.table-container {
    display: flex;
    justify-content: center;
}

.table-container table {
    width: 80%;
    margin-top: 1rem;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

      
.table-container table td, th {
    border: 1px solid #ccf;
    text-align: left;
    padding: 8px;
}

.table-container table th {
    background-color: #def;
    border-bottom: 2px solid #ccf;
}

.table-container table tr.darker {
    background-color: #def;
}


.table-container table.striped tr:nth-child(odd) {
    background-color: #def;
}



.parent-show:hover .md\:hidden-child {
    opacity: 100%;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
    .md\:hidden-child {
        opacity: 0;
    }
  }
  
input.sin-apariencia::-webkit-outer-spin-button,
input.sin-apariencia::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.sin-apariencia {
  -moz-appearance: textfield;
}
@layer components {

    .btn {
        @apply inline-flex items-center rounded-sm border px-4 py-2 text-sm font-medium transition focus:outline-none focus:ring-2;
    }

    .btn-primary {
        @apply border-transparent bg-deep-light text-white shadow-sm hover:bg-deep active:bg-deep-dark focus:ring-deep-white;
    }

    .btn-secondary {
        @apply bg-deep-white-2 border-deep-white-2  text-deep hover:bg-deep-white hover:text-deep-dark focus:ring-deep-white-2;
    }

    .btn-tertiary {
        @apply border-deep-white-3 bg-deep-white leading-4 text-deep shadow-sm hover:bg-deep-white-2 focus:ring-deep-white-2 focus:ring-2;
    }

    .link {
        @apply text-deep hover:text-deep-light-2 transition;
    }

    .select {
        @apply mt-1 block w-full border-0 border-b border-gray-300 rounded-sm bg-gray-50 py-2 px-3 focus:text-deep-dark shadow-sm focus:bg-deep-white focus:ring-0 transition focus:border-turquoise focus:outline-none sm:text-sm
    }

    .text-input {
        @apply mt-1 block w-full border-0 border-b rounded-sm bg-gray-50 border-gray-300 shadow-sm focus:bg-deep-white focus:text-deep-dark focus:placeholder-deep-white-3 transition focus:border-turquoise placeholder-gray-400  focus:ring-0 sm:text-sm;
    }

    .money-container input:focus ~ .money-sign {
        @apply text-deep-white-3
    }
    .money-container input:focus ~ div select {
        @apply text-deep
    }
}