@import './components/components.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] { display: none !important; }

input.sin-apariencia::-webkit-outer-spin-button,
input.sin-apariencia::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.sin-apariencia {
  -moz-appearance: textfield;
}

.user-detail {
    display: flex;
}

.user-detail ul {
    list-style-type: none;
    margin: 0 0 0 0rem;
    padding: 0;
}

.user-detail ul li {
    float: left;
    margin: 0 0 0 1rem;
    padding: 0;
    line-height: 0.9;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container main {
    width: 100%;
    max-width: 1200px;
    margin: 0 2rem;
}

body {
    padding: 0;
    margin: 0;
}

.top-bar {
    background-color: #def;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccf;
    margin-bottom: 1rem;
}

.top-bar .logo {
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.top-bar .logo a {
    text-decoration: none;
}

.top-bar .options {
    display: flex;
    gap: 3rem;
}
.top-bar nav {
    list-style-type: none;
    margin: 0 0 0 2rem;
    padding: 0;
}

.top-bar nav li {
    float: left;
    margin: 0 0 0 2rem;
    padding: 0;
    line-height: 0.9;
}

.table-container {
    display: flex;
    justify-content: center;
}

.table-container table {
    width: 80%;
    margin-top: 1rem;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

      
.table-container table td, th {
    border: 1px solid #ccf;
    text-align: left;
    padding: 8px;
}

.table-container table th {
    background-color: #def;
    border-bottom: 2px solid #ccf;
}

.table-container table tr.darker {
    background-color: #def;
}


.table-container table.striped tr:nth-child(odd) {
    background-color: #def;
}



.parent-show:hover .md\:hidden-child {
    opacity: 100%;
}

.md\:hidden-child {
    @apply md:opacity-10;
}


  